* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-size: 0px;
}
 ul {
    position: absolute;
    left: 15px;
    top: 15px;
    color: white;
 }
 .line2 ul {
    position: absolute;
    top: 108px;
 }
.line3 ul {
    position: absolute;
    top: 200px;
 }
.line4 ul {
    position: absolute;
    top: 292px;
 }
.line5 ul {
    position: absolute;
    top: 384px;
 }
.line6 ul {
    position: absolute;
    top: 476px;
 }
.line7 ul {
    position: absolute;
    top: 568px;
 }
.line8 ul {
    position: absolute;
    top: 660px;
 }

 li {
    display: inline-block;
    font-size: 64px;
    padding: 9px;
    border: 1px solid black;
}

 .line1 ul :nth-child(2n) {
    background-color: gray;
    color: black;
}
 .line2 ul li:nth-child(2n+1) {
    background-color: gray;
    color: black;
}
 .line3 ul :nth-child(2n) {
    background-color: gray;
    color: black;
}
.line4 ul li:nth-child(2n+1) {
    background-color: gray;
    color: gray;
}
 .line5 ul :nth-child(2n) {
   background-color: gray;
    color: gray;
}
.line6 ul li:nth-child(2n+1) {
    background-color: gray;
    color: white;
}
.line7 ul :nth-child(2n) {
   background-color: gray;
    color: white;
}
.line8 ul li:nth-child(2n+1) {
    background-color: gray;
    color: white;
}
