html {
    background: #FFFFFF;
    padding: 10px;
    
}
body {
    background: #3C3F45;
    height: 600px;

}
header {
    background: #494f56;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    color: #E78279;
    padding: 10px;
    text-align: center;
}