* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}
body{
    background: url("../img/bg.png");
    background-size: cover;
}
.form {
    background-color: white;
    margin: 3% auto;
    max-width: 336px;
}
.logo {
   margin: 23px 25px;
   float: left;
}
.sum {
    margin: 20px 25px;
    float: right;
    font-size: 36px;
    font-weight: bold;
    color: #637570;
}
.info {
    overflow: auto;
    margin: 0 auto;
    max-width: 336px;
    background-color: #EEE4A9;
 }
.logo h1 {
    margin-bottom: 0px;
    font-size: 14px;
    color: #637570;
}
.logo p {
    margin-top: 0px;
    font-family: 'Myriad Pro', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #a6a28d;
}
.pay {
    padding: 40px 24px 20px;
    font-size: 13px;
    color: #727f82;
}
.text{
    border: 2px solid #9eabad;
    margin-bottom: 30px;
    padding: 13px 10px;
    width: 100%;

 }
.month {
    border: 2px solid #9eabad;
    margin-bottom: 30px;
    padding: 13px 10px;
    width: 60%;
    font-size: 13px;
    display: inline-block;
}
.year {
    border: 2px solid #9eabad;

    padding: 13px 10px;
    width: 30%;
    float: right;
    font-size: 13px;
}
.cvv {
    border: 2px solid #9eabad;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 13px 10px;
    width: 30%;
    
}
hr {
    margin: 0 0 30px;
    opacity: 0.3;
}
.button {
    background-color: #25B167;
    margin-bottom: 25px;
    padding: 15px 122px;
    border: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
a {
    color: #727f82;
}
.pay p {
    padding-bottom: 8px;
}
.pay h4 {
    text-align: center;
    opacity: 0.4;
}