body {
    background: url("../img/bg3.png");
    background-position: bottom;
    width: 100%;
    font-family: Segoe UI, Arial, sans-serif;
}

header {
    background-color: #464b4f;
    height: 850px;
}

.logo {
    padding-top: 80px;
    text-align: center;
}

h1 {
    padding-top: 130px;
    text-align: center;
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}

header p {
    max-width: 450px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: white;
    padding-bottom: 130px;
 }

.icon {
    position: absolute;
    left: 50%;
}

article p {
    padding: 30px 10px;
    margin: 0 auto;
    max-width: 850px;
    font-size: 30px;
    text-align: center;
 }

article h3 {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

td h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #464b4f;
}

table {
    max-width: 850px;
    margin: 70px auto;
    font-size: 18px;
    color: #888a8b;
}
td {
    padding-right: 20px;
}